template(name='companyLogoBar')
  .company-name-row
    .row
      .company-brand
        a(href="{{pathFor 'home'}}") 
          | File Share Portal
        ul.user-info.pull-right
          if currentUser
            li.profile-info.dropdown
              // add class "pull-right" if you want to place this from right
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                img.img-circle(src='/images/avatar5.png', alt='', width='44')
                | #{currentUser.profile.fullname}
              ul.dropdown-menu
                // Reverse Caret
                li.caret
                // Profile sub-links
                //- li
                //-   a(href='#')
                //-     i.entypo-user
                //-     | Profile
                //- li
                //-   a(href='{{pathFor "atChangePwd"}}')
                //-     i.entypo-key
                //-     | Change Password
                li
                  a(href='#',data-action='logout')
                    i.entypo-lock
                    | Log Off
          //- else
          //-   li 
          //-     a(href='{{pathFor "atSignIn"}}')
          //-       i.entypo-user
          //-       | Sign In
