// .main-footer
// 	position absolute
// 	bottom 0
// 	width 100%

ul.nav li.dropdown:hover > ul.dropdown-menu
	display block

@media (min-width: 979px)
	ul.nav li.dropdown:hover > ul.dropdown-menu
		display block

// div.modal div.modal-backdrop
// 	z-index 0
// div.modal-backdrop
// 	z-index -10
// 	bottom 0
// 	position fixed	






